<h1>Homework 04 - Applied ML</h1>

Importation of libraries

In [7]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

Importation of the datas

In [16]:
filename = os.path.join('data','CrowdstormingDataJuly1st.csv') 
df = pd.read_csv(filename)
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

<h2>Data exploration</h2>

In [51]:
print('Number of dyads: ', len(df))
print('Total number of interactions between a referee and a player: ', sum(df.games))

Number of dyads:  146028
Total number of interactions between a referee and a player:  426572

In [52]:
print('Mean number of games for a dyad: ', np.mean(df['games']))

Mean number of games for a dyad:  2.92116580382

<h2>Data Cleaning</h2>

First, we can observe that a lot of referees are in just 1 dyad. As a match consist of at least 22 players, this looks not possible. Therefore we are going to drop all referees that appears in less than 22 dyads.

In [48]:
## Bad copy paste ==> TO CHANGE!!!
allRefs = df.refNum.value_counts()
print ("Number of refs =", len(allRefs))
print ("Number of dyads in the dataset =", sum(allRefs))

Number of refs = 3147
Number of dyads in the dataset = 146028

In [55]:
## Bad copy paste ==> TO CHANGE!!!
goodRefs = allRefs[allRefs>21]
df_good = df[df['refNum'].isin(goodRefs.index.values)]