<h1> Homework 2 - Data from the Web </h1>

In [49]:
## Importation of everything useful
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
sns.set_context('notebook')

import requests
from bs4 import BeautifulSoup

In [3]:
parameters_page = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247')

In [4]:
parameters_html = parameters_page.text

In [5]:
soup = BeautifulSoup(parameters_html, "html.parser")

In [6]:
#print(soup.prettify())

In [7]:
row_list = []
for parameter_cat_html in soup.find_all('select'):
    for option in parameter_cat_html.contents:
        row_dict = {'category':parameter_cat_html['name'], 'name':option.string, 'value':option['value']}
        row_list.append(row_dict)
parameters = pd.DataFrame(row_list)
parameters.head()

          category                              name      value
0  ww_x_UNITE_ACAD                              None       null
1  ww_x_UNITE_ACAD                      Architecture     942293
2  ww_x_UNITE_ACAD          Chimie et génie chimique     246696
3  ww_x_UNITE_ACAD  Cours de mathématiques spéciales     943282
4  ww_x_UNITE_ACAD            EME (EPFL Middle East)  637841336

<h2>Creating the base url</h2>

We found with Postman the base ur
l leading to the students list: http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml

To this page, we will add different parameters. Some of the parameters will not change for all the request, therefore we decided to hardcode them. These parameters are:
<ul>
<li>
<b>ww_x_GPS</b> = <em>-1</em><br>
This parameter varies during request but is not useful. It is probably linked to the gps position. It is was set to -1 which will accept everything.
</li>
<li>
<b>ww_i_reportModel</b> = <em>133685247</em>:<br>
Parameter to choose the type of files to take. We chose html files.
</li>
<li><b>ww_i_reportModelXsl</b> = <em>133685270</em>:<br>
Parameter to choose the type of files to take. We chose html files.
</li>
<li><b>ww_x_HIVERETE</b> = <em>null</em>:<br>
This parameter allow to choose between Winter and Spring semester. However, it is redondant, as Bachelor 1 can only happen in Winter semester, Bachelor 2 in Spring, Bachelor 3 in Winter, and so forth. Therefore we chose to eliminate this parameter by settings its value to null.
</li>
<li><b>ww_x_UNITE_ACAD</b> = <em>249847</em>:<br>
This value represents the "Informatique" section. As it was asked to only consider the data of this section, we have to use it all the time. If it was not the case, we could use the other technique.
</li>


</ul>

In [8]:
people_base_url = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null'

***Interesting parameters***<br>
Therefore we are left with two interesting parameters we want to vary:
the year ("periode academique") and the period ("periode pedagogique").

In [9]:
year_param_string = 'ww_x_PERIODE_ACAD'
period_param_string = 'ww_x_PERIODE_PEDAGO'

year_param = parameters.loc[parameters['category'] == year_param_string]
period_param = parameters.loc[parameters['category'] == period_param_string]

year_param = year_param.drop(year_param.iloc[0].name,axis=0, level=None)
period_param = period_param.drop(period_param.iloc[0].name,axis=0, level=None)

In [10]:
year_param.head()

             category       name      value
21  ww_x_PERIODE_ACAD  2016-2017  355925344
22  ww_x_PERIODE_ACAD  2015-2016  213638028
23  ww_x_PERIODE_ACAD  2014-2015  213637922
24  ww_x_PERIODE_ACAD  2013-2014  213637754
25  ww_x_PERIODE_ACAD  2012-2013  123456101

In [40]:
period_param

               category                        name       value
32  ww_x_PERIODE_PEDAGO         Bachelor semestre 1      249108
33  ww_x_PERIODE_PEDAGO         Bachelor semestre 2      249114
34  ww_x_PERIODE_PEDAGO         Bachelor semestre 3      942155
35  ww_x_PERIODE_PEDAGO         Bachelor semestre 4      942163
36  ww_x_PERIODE_PEDAGO         Bachelor semestre 5      942120
37  ww_x_PERIODE_PEDAGO        Bachelor semestre 5b     2226768
38  ww_x_PERIODE_PEDAGO         Bachelor semestre 6      942175
39  ww_x_PERIODE_PEDAGO        Bachelor semestre 6b     2226785
40  ww_x_PERIODE_PEDAGO           Master semestre 1     2230106
41  ww_x_PERIODE_PEDAGO           Master semestre 2      942192
42  ww_x_PERIODE_PEDAGO           Master semestre 3     2230128
43  ww_x_PERIODE_PEDAGO           Master semestre 4     2230140
44  ww_x_PERIODE_PEDAGO           Mineur semestre 1     2335667
45  ww_x_PERIODE_PEDAGO           Mineur semestre 2     2335676
46  ww_x_PERIODE_PEDAGO               Mise à niveau  2063602308
47  ww_x_PERIODE_PEDAGO       Projet Master automne      249127
48  ww_x_PERIODE_PEDAGO     Projet Master printemps     3781783
49  ww_x_PERIODE_PEDAGO            Semestre automne      953159
50  ww_x_PERIODE_PEDAGO          Semestre printemps     2754553
51  ww_x_PERIODE_PEDAGO    Stage automne 3ème année      953137
52  ww_x_PERIODE_PEDAGO    Stage automne 4ème année     2226616
53  ww_x_PERIODE_PEDAGO  Stage printemps 3ème année      983606
54  ww_x_PERIODE_PEDAGO  Stage printemps 4ème année     2226626
55  ww_x_PERIODE_PEDAGO      Stage printemps master     2227132

In [12]:
#Construct a beautiful dataframe from a url
def create_df(url):
    
    # pd.read returns a list of dataframe
    # in our case, it returns a list of one dataframe,
    # so we select the first item of this list
    df = pd.read_html(url)[0]
    
    # We change the name of the columns by the value of the second line of each columns
    for i in range(0, len(df.columns)):
        df=df.rename(columns = {i:df.loc[1][i]})
        
    # We add a column for the period
    string = df['Civilité'][0]
    splitedString = string.split(',')
    if False : #splitedString[0] != 'Informatique':
        return 'Not informatic section'
    else :
        df['Period Academic'] = splitedString[1]
        periodPedagogic = splitedString[2].split(' ')[1:4]
        df['Period pedagogic'] = ' '.join(periodPedagogic)

        # We drop the unuseful rows
        # And we drop the columns that contains only NaN
        # TODO: find a way to get the information of the first row (the row [0]), this row describe the year (period academic) and the period pedagogic
        df = df.drop(df.index[[0,1]]).dropna(axis=1, how='all')
        return df

In [13]:
#Creating 2 dataframe for testing
df1 = create_df("http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=944590&ww_x_PERIODE_ACAD=213638028&ww_x_PERIODE_PEDAGO=249108&ww_x_HIVERETE=2936286")
df2 = create_df("http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=944590&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=249108&ww_x_HIVERETE=2936286")

In [14]:
# Let's imagine we have 2 lists of datframe, listOne (of Bachelor 1 for all year) and listSix (Bachelor 6)
listOne = [df1]
listSix = [df2]

In [15]:
def merged_inner(df1, df2):
    merged_inner = pd.merge(left=df1,right=df2, left_on='No Sciper', right_on='No Sciper')
    return merged_inner

In [16]:
# input: 2 dataframes with the correct year in Period Academic (see above)
# Output: a dataframe with the Civilité, the No Sciper and the duration of the Bachelor
def duration_bachelor(df1, df2):
    merged = merged_inner(df1, df2)
    result = pd.DataFrame({'No Sciper' : merged['No Sciper'], 'Civilité' : merged['Civilité_x'], 'Duration of Bachelor' : merged['Period Academic_y'] - merged['Period Academic_x']})
    return result

In [17]:
def correcting_year(listOne, listSix):
    #For all Bachelor 1, we select the firt year of the column Period Academic
    for df in listOne:
        df["Period Academic"]=int(df['Period Academic'][2].split('-')[0].replace(" ", ""))

    #For all Bachelor 6, we select the second year of the column Period Academic
    for df in listSix:
        df["Period Academic"] = int(df['Period Academic'][2].split('-')[1])

In [18]:
# Iterate for every academic year
# Input : 2 lists, one for Bachelor 1 and one for Bchelor 6
def mean_Bachelor(listOne, listSix):
    finalResult = pd.DataFrame()
    
    correcting_year(listOne, listSix)
    for one in listOne:
        for six in listSix:
            
            result = duration_bachelor(one, six)

            # ignore_index=True since the different dataframes that will be append will have the same index
            # verify_integrity=True since we should not have the same student added several time (it makes no sense, a student can finish its Bachelor only one time)
            finalResult = finalResult.append(result,  ignore_index=True, verify_integrity=True)
            
    return finalResult['Duration of Bachelor'].mean()

In [19]:
mean_Bachelor(listOne, listSix)

2.0

*** Make the dataframe and save it on files: ***

In [50]:
def url_param_str(param, value):
    return '&' + param + '=' + value

for i, year in year_param.iterrows():
    for j, period in period_param.iterrows():
            print(file_name_i)
            print(url_i)
            url_i = people_base_url + url_param_str(year.category, year.value) + url_param_str(period.category, period.value)
            file_name_i = './data/' + str(year['name']+period['name'])
            
            df_i = create_df(url_i)
            df_i.to_pickle(file_name_i)
#             time.sleep(3)

test_dataframe = pd.read_pickle("./data/2016-2017Bachelor semestre 1")
test_dataframe.head()

./data/2016-2017Bachelor semestre 1
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=249108
./data/2016-2017Bachelor semestre 1
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=249108
./data/2016-2017Bachelor semestre 2
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=249114
./data/2016-2017Bachelor semestre 3
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=942155
./data/2016-2017Bachelor semestre 4
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=942163
./data/2016-2017Bachelor semestre 5
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=942120

ValueError: No tables found matching pattern '.+'

In [47]:
test = create_df('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_HIVERETE=null&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=942120')
test

,Civilité,Nom Prénom,Filière opt.,Statut,Type Echange,Ecole Echange,No Sciper,Period Academic,Period pedagogic
2,Monsieur,Abate Bryan Jeremy,6 - Visual computing,Congé,Erasmus,University of Bristol,246671,2016-2017,Bachelor semestre 5
3,Monsieur,Alami-Idrissi Ali,5 - Signal and Image Processing,Congé,Erasmus,Linköping University,251759,2016-2017,Bachelor semestre 5
4,Monsieur,Albergoni Tobia,6 - Visual computing,Présent,NaN,NaN,248575,2016-2017,Bachelor semestre 5
5,Monsieur,Alonso Seisdedos Florian,NaN,Congé,NaN,NaN,215576,2016-2017,Bachelor semestre 5
6,Monsieur,Aoun Leonardo,6 - Visual computing,Congé,Bilatéral,"University of Washington, Seattle",249498,2016-2017,Bachelor semestre 5
7,Monsieur,Bachmann Roman Christian,6 - Visual computing,Congé,Erasmus,Norwegian University of Science and Technology...,234551,2016-2017,Bachelor semestre 5
8,Monsieur,Badoux Christophe Dylan,6 - Visual computing,Présent,NaN,NaN,249694,2016-2017,Bachelor semestre 5
9,Monsieur,Ballerini Marco Roberto Julian,6 - Visual computing,Présent,NaN,NaN,236818,2016-2017,Bachelor semestre 5
10,Madame,Baraschi Zoé,6 - Visual computing,Présent,NaN,NaN,219665,2016-2017,Bachelor semestre 5
11,Monsieur,Bardet Mike Douglas,6 - Visual computing,Présent,NaN,NaN,208714,2016-2017,Bachelor semestre 5
12,Monsieur,Barman Raphaël,4 - Networks and Communications,Présent,NaN,NaN,246184,2016-2017,Bachelor semestre 5
13,Monsieur,Bazzucchi Vincenzo,6 - Visual computing,Présent,NaN,NaN,249733,2016-2017,Bachelor semestre 5
14,Monsieur,Beck Johannes Magnus,6 - Visual computing,Congé,Mobilité en Suisse,Eidgenössische Technische Hochschule Zürich,247328,2016-2017,Bachelor semestre 5
15,Monsieur,Benlalah Ali,5 - Signal and Image Processing,Congé,Bilatéral,"Georgia Institute of Technology, Atlanta",251758,2016-2017,Bachelor semestre 5
16,Monsieur,Bickel Marc,6 - Visual computing,Présent,NaN,NaN,247321,2016-2017,Bachelor semestre 5
17,Monsieur,Boissaye Arnaud Didier Marie,6 - Visual computing,Présent,NaN,NaN,214939,2016-2017,Bachelor semestre 5
18,Monsieur,Bouvet Quentin Luc,4 - Networks and Communications,Présent,NaN,NaN,234716,2016-2017,Bachelor semestre 5
19,Monsieur,Bovel Matthieu Alexandre,7 - Biocomputing,Congé,Mobilité en Suisse,Eidgenössische Technische Hochschule Zürich,250300,2016-2017,Bachelor semestre 5
20,Monsieur,Branca Colin,6 - Visual computing,Présent,NaN,NaN,237971,2016-2017,Bachelor semestre 5
21,Monsieur,Breitenstein Yannick Lucas,6 - Visual computing,Présent,NaN,NaN,234523,2016-2017,Bachelor semestre 5
22,Monsieur,Bucev Mario,6 - Visual computing,Présent,NaN,NaN,247537,2016-2017,Bachelor semestre 5
23,Monsieur,Burgelin Clément Louis Alexandre,6 - Visual computing,Congé,Bilatéral,"Johns Hopkins University, Baltimore",249954,2016-2017,Bachelor semestre 5
24,Monsieur,Caforio Andrea Felice,6 - Visual computing,Présent,NaN,NaN,246310,2016-2017,Bachelor semestre 5
25,Monsieur,Cavaleri Alexandre Guy,6 - Visual computing,Présent,NaN,NaN,244060,2016-2017,Bachelor semestre 5
26,Monsieur,Cloux Olivier Jérémie,4 - Networks and Communications,Présent,NaN,NaN,236079,2016-2017,Bachelor semestre 5
27,Monsieur,Collaud Jonathan,6 - Visual computing,Présent,NaN,NaN,235493,2016-2017,Bachelor semestre 5
28,Monsieur,Combes Amaury Christian François,6 - Visual computing,Présent,NaN,NaN,235400,2016-2017,Bachelor semestre 5
29,Monsieur,Conti Riccardo Ambrogio Nikolai,6 - Visual computing,Présent,NaN,NaN,247015,2016-2017,Bachelor semestre 5
30,Monsieur,Coudert Rémi Edouard,6 - Visual computing,Congé,Erasmus,Ecole Normale Supérieure de Lyon,249996,2016-2017,Bachelor semestre 5
31,Monsieur,Courtois Jules,6 - Visual computing,Présent,NaN,NaN,246076,2016-2017,Bachelor semestre 5
...,...,...,...,...,...,...,...,...,...
91,Monsieur,Pinedo Camacho Alvaro,6 - Visual computing,Présent,NaN,NaN,247917,2016-2017,Bachelor semestre 5
92,Monsieur,Pisa Maxime Quentin,6 - Visual computing,Présent,NaN,NaN,247650,2016-2017,Bachelor semestre 5
93,Monsieur,Pizarro Solar Rafael Ulises Luzius,6 - Visual computing,Présent,NaN,NaN,250976,2016-2017,Bachelor semestre 5
94,Monsieur,Pleskowicz Michal Piotr,6 - Visual computing,Présent,NaN,NaN,251034,2016-2017,Bachelor semestre 5
95,Monsieur,Poma Florian,6 - Visual computing,Présent,NaN,NaN,238150,2016-2017,Bachelor semestre 5
96,Monsieur,Ramirez Lucas,6 - Visual computing,Congé,Bilatéral,Carnegie Mellon University Pittsburgh,247233,2016-2017,Bachelor semestre 5
97,Madame,Reiss Saskia Naomi,NaN,Présent,NaN,NaN,216801,2016-2017,Bachelor semestre 5
98,Monsieur,Resin David,6 - Visual computing,Congé,Erasmus,Aalto University,225452,2016-2017,Bachelor semestre 5
99,Monsieur,Rey Samuel Pierre,6 - Visual computing,Présent,NaN,NaN,225691,2016-2017,Bachelor semestre 5
100,Madame,Richard Lou Fortunée Valentine Yvonne Émilie,NaN,Présent,NaN,NaN,228149,2016-2017,Bachelor semestre 5
101,Monsieur,Rigori Valentin Joseph,6 - Visual computing,Congé,Erasmus,"Royal Institute of Technology, (KTH) Stockholm",250362,2016-2017,Bachelor semestre 5
102,Monsieur,Rinaldi Vincent Michel Arnold Patrick,7 - Biocomputing,Présent,NaN,NaN,239759,2016-2017,Bachelor semestre 5
103,Monsieur,Roduit Dominique Jean,6 - Visual computing,Présent,NaN,NaN,234868,2016-2017,Bachelor semestre 5
104,Monsieur,Romerio Lucio Ezechiele,6 - Visual computing,Présent,NaN,NaN,249936,2016-2017,Bachelor semestre 5
105,Monsieur,Rossier Louis Dominique Joseph,7 - Biocomputing,Présent,NaN,NaN,232155,2016-2017,Bachelor semestre 5
106,Monsieur,Sánchez Keller Aleixo,NaN,Congé,NaN,NaN,235935,2016-2017,Bachelor semestre 5
107,Monsieur,Scanzi Jonathan,6 - Visual computing,Présent,NaN,NaN,236092,2016-2017,Bachelor semestre 5
108,Monsieur,Schürch Loïc,6 - Visual computing,Présent,NaN,NaN,232157,2016-2017,Bachelor semestre 5
109,Monsieur,Selim Stephan Sameh Saad,6 - Visual computing,Présent,NaN,NaN,235786,2016-2017,Bachelor semestre 5
110,Monsieur,Soufi Raja,6 - Visual computing,Congé,Erasmus,"Royal Institute of Technology, (KTH) Stockholm",247680,2016-2017,Bachelor semestre 5
111,Monsieur,Stalder Nicodème Josèphe Maria Pio,NaN,Présent,NaN,NaN,234584,2016-2017,Bachelor semestre 5
112,Monsieur,Treyer Thierry,6 - Visual computing,Présent,NaN,NaN,235116,2016-2017,Bachelor semestre 5
113,Monsieur,Vaucher Timoté Pascal,6 - Visual computing,Congé,Bilatéral,National University of Singapore,246532,2016-2017,Bachelor semestre 5
114,Monsieur,Viaccoz Cédric,6 - Visual computing,Présent,NaN,NaN,250396,2016-2017,Bachelor semestre 5
115,Monsieur,Weier Philippe,6 - Visual computing,Congé,Erasmus,Universidad de Granada,247891,2016-2017,Bachelor semestre 5
116,Monsieur,Wicht Bruno,6 - Visual computing,Présent,NaN,NaN,250410,2016-2017,Bachelor semestre 5
117,Monsieur,Willemin Xavier,NaN,Présent,NaN,NaN,212826,2016-2017,Bachelor semestre 5
118,Monsieur,Wütschert Robin Axel,6 - Visual computing,Présent,NaN,NaN,250419,2016-2017,Bachelor semestre 5
119,Monsieur,Zbinden Boris Adrien,6 - Visual computing,Présent,NaN,NaN,237151,2016-2017,Bachelor semestre 5
120,Monsieur,Zenhäusern Joey Kevin,NaN,Présent,NaN,NaN,226652,2016-2017,Bachelor semestre 5